<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto+Mono&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" href="scss/all.css">
    <title>課程後台</title>
</head>

<body>
    <div id="app">
        <div class="container d-flex">
            <!-- 左側導覽列開始 -->
            <div class="col-3 bg-light pb-5 d-flex flex-column justify-content-between">
                <div>
                    <img class="pb-5 mt-4 ms-4"
                        src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week5/logo-ANSWER.svg"
                        alt="logo">
                    <ul>
                        <li><a class="d-block font-bold font-dark pt-1 pb-1 ps-5 link-primary-left" href="#"><i
                                    class="fas fa-columns me-1"></i>Dashboard</a></li>
                        <li><a class="d-block font-bold font-dark pt-1 pb-1 ps-5 link-primary-left" href="#"><i
                                    class="fas fa-question-circle  me-1"></i>Question</a></li>
                        <li><a @click.prevent="showAssignment"
                                class="d-block font-bold font-dark pt-1 pb-1 ps-5 link-primary-left" href="#"><i
                                    class="fas fa-thumbtack me-1"></i>Assignment</a></li>
                        <li><a class="d-block font-bold font-dark pt-1 pb-1 ps-5 link-primary-left" href="#"><i
                                    class="fab fa-youtube me-1 "></i>Course</a></li>
                        <li><a @click.prevent="showAdmin"
                                class="d-block font-bold font-dark pt-1 pb-1 ps-5 link-primary-left" href="#"><i
                                    class="fas fa-user-friends  me-1 "></i></i>Admin</a></li>
                        <li><a class="d-block font-bold font-dark pt-1 pb-1 ps-5 link-primary-left" href="#"><i
                                    class="fas fa-cog  me-1 "></i>Settings</a></li>
                    </ul>
                </div>
                <div class="d-flex  ms-4 align-items-center">
                    <img class="w-4 h-4 border-radius-pill"
                        src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week5/andychen.jpeg"
                        alt="Andy Chen Picture">
                    <ul class="ms-1">
                        <li class="font-bold">Andy Chen</li>
                        <li class="font-info fs-2">andy0401@mail.com</li>
                    </ul>
                </div>

            </div>
            <!-- 左側導覽列結束 -->

            <div class="col-9 p-5 ">
                <!-- assignment 頁面開始 -->
                <div id="assignment" v-if="assignment">
                    <div class="d-flex mb-4 align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <p class="font-bold fs-5 lh-1">Assignment</p>
                            <a class="d-block link-primary ms-2 font-bold" href="#">All Courses
                                <i class="ms-1 fas fa-chevron-down"></i>
                            </a>
                        </div>
                        <div class="d-flex">
                            <a class="link-primary ms-3" href="#"><i class="fas fa-search"></i></a>
                            <a class="link-primary ms-3" href="#"><i class="fas fa-bell"></i></a>
                        </div>
                    </div>
                    <div>
                        <div class="d-flex justify-content-between">
                            <a class="link-primary" href="#">All (4)<i class="ms-1 fas fa-chevron-down"></i></a>
                            <span class="font-info fs-1 align-self-end">2 comments</span>
                        </div>
                        <div class="d-flex  mt-1">
                            <div class="col-4">

                                <ul class="border-radius-round border-secondary lh-1">
                                    <li>
                                        <a class="d-block p-1  bg-light  border-bottom-secondary border-top-right-radius-round border-top-left-radius-round"
                                            href="#">
                                            <div class="d-flex justify-content-between fs-1 font-dark">
                                                <p>Chapter Assignment 2</p>
                                                <p>4 hrs ago</p>
                                            </div>
                                            <div class="d-flex justify-content-between  align-items-center">
                                                <p class="font-dark font-bold">Please check this file…</p>
                                                <p class="fs-1 font-info">Emily Wang</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a class=" d-block p-1 border-bottom-secondary" href="#">
                                            <div class="d-flex justify-content-between fs-1 font-dark">
                                                <p>Chapter Assignment 1</p>
                                                <p>12 hrs ago</p>
                                            </div>
                                            <div class="d-flex justify-content-between  align-items-center">
                                                <p class="font-dark font-bold">My Homework</p>
                                                <p class="fs-1 font-info">David Xu</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a class=" d-block p-1 border-bottom-secondary" href="#">
                                            <div class="d-flex justify-content-between fs-1 font-dark">
                                                <p>Final Assignment</p>
                                                <p>18 hrs ago</p>
                                            </div>
                                            <div class="d-flex justify-content-between  align-items-center">
                                                <p class="font-dark font-bold">Have a problem with this…</p>
                                                <p class="fs-1 font-info">Tony Wei</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a class=" d-block p-1 " href="#">
                                            <div class="d-flex justify-content-between fs-1 font-dark">
                                                <p>Final Assignment</p>
                                                <p>19 hrs ago</p>
                                            </div>
                                            <div class="d-flex justify-content-between  align-items-center">
                                                <p class="font-dark font-bold">Did I do it right?</p>
                                                <p class="fs-1 font-info">Christina Lin</p>
                                            </div>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                            <div class="col-8 d-flex flex-column ms-1">
                                <div class=" border-radius-round border-secondary">
                                    <div
                                        class="d-flex justify-content-between align-items-center p-1 bg-light border-top-right-radius-round border-top-left-radius-round">
                                        <div>
                                            <p class="fs-1 font-info">Chapter Assignment 2 / HTML&CSS</p>
                                            <p class="font-bold">Please check this file for me, thanks!</p>
                                        </div>
                                        <a class="d-block font-dark link-primary" href="#"><i
                                                class="fas fa-ellipsis-v"></i></a>
                                    </div>
                                    <div class="p-2">
                                        <!-- 學生問題 -->
                                        <div class="">
                                            <div class="d-flex  ms-4 align-items-center">
                                                <img class="w-4 h-4 object-fit-cover   border-radius-pill"
                                                    src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week5/emilywang.jpeg"
                                                    alt="Emily Wang Picture">
                                                <div class="ms-1">
                                                    <p class="font-bold">Andy Chen</p>
                                                    <p class="font-info fs-2">13:24 AM (1 hours ago)</p>
                                                </div>

                                            </div>
                                            <div class="col-4 ms-5 pt-2 pb-2">
                                                <p class="fs-2 ">
                                                    Hi Teacher, the attached file is my homework of c
                                                    hapter 2. And here comes a question: Why in the fol
                                                    lowing code the height of the <span class="font-code">div</span> is
                                                    bigger
                                                    than the
                                                    height of the <span class="font-code">img</span> ? There is a gap
                                                    below
                                                    the
                                                    image,
                                                    t it doesn’t seems to be a padding/margin.<br> What is th
                                                    e gap or extra space below image?
                                                </p>
                                                <a class="btn btn-file mt-1" href="#"><i
                                                        class="fas fa-paperclip me-1"></i>HW-2-David.zip</a>
                                            </div>


                                        </div>
                                        <hr class="col-4 mt-1 mb-1">
                                        <!-- 講師回覆開始 -->
                                        <div v-if="reply">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="d-flex  ms-4 align-items-center">

                                                    <img class="h-4 w-4 object-fit-cover  border-radius-pill"
                                                        src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week5/andychen.jpeg"
                                                        alt="Andy Chen Picture">


                                                    <div class="ms-1">
                                                        <p class="font-bold">Andy Chen</p>
                                                        <p class="font-info fs-2">13:24 AM (1 hours ago)</p>
                                                    </div>
                                                </div>
                                                <div class="d-flex align-items-center">
                                                    <a href="" class="link-primary me-3"><i class="far fa-star"></i></a>
                                                    <a href="" class="link-primary me-3"><i class="fas fa-pen"></i></a>
                                                </div>
                                            </div>
                                            <div class="col-4 ms-5 pt-2 pb-2">
                                                <p class="fs-2 text-left">
                                                    Hi David, by default, an image is rendered inline, like a letter so
                                                    it
                                                    sits
                                                    on the same line that a, b, c and d sit on. There is space below
                                                    that
                                                    line
                                                    for the descenders you find on letters like g, j, p and q.
                                                    <br> <br>
                                                    You can: <br> <br>
                                                    　• adjust the <span class="font-code">vertical-align</span> of the
                                                    image
                                                    to
                                                    position it elsewhere (e.g. the <span
                                                        class="font-code">middle</span> )
                                                    or
                                                    <br> 　• change the <span class="font-code">display</span> so it
                                                    isn’t
                                                    inline.
                                                </p>

                                            </div>
                                        </div>


                                    </div>
                                    <!-- 講師回覆結束-->
                                    <!-- 修改回覆開始 -->
                                    <div v-if="editor" class="border-top-secondary border-radius-round">
                                        <div
                                            class=" border-bottom-secondary  d-flex bg-light justify-content-start border-top-right-radius-round border-top-left-radius-round pt-2 pb-2 ps-4">
                                            <a href="#" class="link-primary font-bold  me-3">Body Text <i
                                                    class="fas fa-caret-down"></i></a>
                                            <a href="" class="link-primary me-3"><i class="fas fa-bold"></i></a>
                                            <a href="" class="link-primary me-3"><i class="fas fa-italic"></i></a>
                                            <a href="" class="link-primary me-3"><i class="fas fa-list-ul"></i></a>
                                            <a href="" class="link-primary me-3"><i class="fas fa-list-ol"></i></a>
                                            <a href="" class="link-primary me-3"><i class="fas fa-image"></i></a>
                                            <a href="" class="link-primary me-3"><i class="fas fa-file-archive"></i></a>
                                            <a href="" class="link-primary me-3"><i class="fas fa-code"></i></a>
                                        </div>
                                        <div class="pt-2 pb-2 ps-3 pe-3 ">
                                            <textarea class="textarea-relpy" placeholder="Reply an answer…"></textarea>
                                            <div class="d-flex justify-content-end ms-1">
                                                <a href="#" class="btn btn-primary"
                                                    @click.prevent="toggleEditor">Cancel</a>
                                                <a href="#" class="btn btn-primary ms-1"
                                                    @click.prevent="toggleEditor">Reply</a>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- 修改回覆結束 -->
                                </div>


                                <div v-if="reply" class="d-flex justify-content-between align-items-center p-2">
                                    <div class="d-flex">
                                        <a class="link-primary" href="#"><i class="fas fa-chevron-left"></i></a>
                                        <a class="link-primary ms-2" href=""><i class="fas fa-chevron-right"></i></a>
                                    </div>
                                    <div class="d-flex">
                                        <a href="#" class="btn btn-primary">Mark as read</a>
                                        <a href="#" class="ms-1 btn btn-primary" @click.prevent="toggleEditor">Reply</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- admin 頁面開始 -->
                <div id="admin" v-if="admin">

                    <div class="d-flex mb-4 align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <p class="font-bold fs-5 lh-1">Assignment</p>
                            <a class="d-block link-primary ms-4 font-bold" href="#">
                                <i class="fas fa-plus font-primary"></i>
                                Add New Admin
                            </a>
                        </div>
                        <div class="d-flex">
                            <a class="link-primary ms-3" href="#"><i class="fas fa-search"></i></a>
                            <a class="link-primary ms-3" href="#"><i class="fas fa-bell"></i></a>
                        </div>
                    </div>
                    <!-- admin 表格開始 -->
                    <table>
                        <thead>
                            <tr class="font-bold border-bottom-dark">
                                <td class="col-1">ID</td>
                                <td class="col-2">Name</td>
                                <td class="col-3">Email</td>
                                <td class="col-1">Verified</td>
                                <td class="col-2"></td>
                            </tr>
                        </thead>
                        <template v-for="member in adminInfo">
                            <tr class="border-bottom-secondary">
                                <td class="pt-2 pb-2">#{{member.id}}</td>
                                <td class="pt-2 pb-2">{{member.name}}</td>
                                <td class="pt-2 pb-2">{{member.email}}</td>
                                <td class="pt-2 pb-2">{{member.verified ? "Yes": "No"}}</td>
                                <td class="d-flex pt-2 pb-2">
                                    <a @click.prevent="togglePreview" class="link-primary" href="#"><i
                                            class="fas fa-eye"></i></a>
                                    <a @click.prevent="toggleWindow" class="link-primary ms-2" href="#"><i class="fas fa-pen"></i></a>
                                </td>
                            </tr>
                        </template>
                    </table>
                    <!-- pagination開始 -->
                    <div class="d-flex mt-5  justify-content-end">
                        <ul class="pagination">
                            <li><a class="page-item" href="#"><i class="fas fa-chevron-left"></i></a></li>
                            <li><a class="page-item" href="#">1</a></li>
                            <li><a class="page-item" href="#">2</a></li>
                            <li><a class="page-item" href="#">3</a></li>
                            <li><a class="page-item" href="#"><i class="fas fa-chevron-right"></i></a></li>
                        </ul>
                    </div>
                    <!-- paginatoin結束 -->
                    <!-- admin 表格結束 -->

                </div>
                <!-- admin 頁面結束 -->
            </div>
            <!-- assignment 頁面結束 -->


        </div>
        
        <div :class="{backgroundDarken:backgroundDarkenLayer}"></div>

        <!-- admin 畫面預覽彈跳視窗開始 -->

        <div class="modal-card" v-if="adminModal">

            <img class="w-14 h-14 object-fit-cover"
                src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week5/emir.jpeg"
                alt="admin picture">

            <div class="col-2 ms-3">
                <div class="d-flex justify-content-between">
                    <span  class="font-bold">#1</span>
                    <a @click.prevent="togglePreview"  href="#" class="link-primary"><i class="fas fa-times"></i></a>
                </div>
                <p>Admin</p>
                <p class="fs-3 font-bold">Emir Wicks</p>
                <p class="fs-2 font-secondary mt-1 mb-2">emir.wicks@mail.com</p>
                <div  class="d-flex justify-content-between">
                    <span>Verified</span>
                    <a @click.prevent="togglePreview" href="#" class="link-primary"><i class="fas fa-chevron-down"></i></a>
                </div>
            </div>
        </div>

    <!-- admin 畫面預覽彈跳視窗結束 -->
    <!-- 編輯畫面彈跳視窗開始 -->
    <div class="modal-card flex-column" v-if="windowModal">
        <div class="d-flex align-items-center">
            <img class="w-14 h-14 object-fit-cover"
                src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week5/emir.jpeg"
                alt="admin picture">

            <div class="col-2 ms-3">
                <div class="d-flex justify-content-between">
                    <span class="font-bold">#1</span>
                    <a @click.prevent="toggleWindow"  href="#" class="link-primary"><i class="fas fa-times"></i></a>
                </div>
                <p>Admin</p>
                <p class="fs-3 font-bold">Emir Wicks</p>
                <p class="fs-2 font-secondary mt-1 mb-2">emir.wicks@mail.com</p>
                <div  class="d-flex justify-content-between">
                    <span>Verified</span>
                    <a @click.prevent="toggleWindow" href="#" class="link-primary"><i class="fas fa-chevron-down"></i></a>
                </div>
            </div>
        </div>
             <div class="col-4 d-flex justify-content-end mt-3 justify-content-end">
                <a href="#" class="btn btn-danger">Deactivate</a>
                <a href="#" class="ms-1 btn btn-primary">Edit</a>
             </div>
    </div>
    <!-- 編輯畫面彈跳視窗結束 -->
    </div>
    </div>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="all.js"></script>
</body>

</html>