//flex-direction

.flex-column{
    flex-direction: column;
}
//justify-content

.justify-content-between{
    justify-content: space-between;
}

//align-items
.align-items-center{
    align-items: center;
}

